body {
  background-image: linear-gradient(
    to bottom right,
    rgba(51, 153, 255, 0.7),
    rgba(224, 224, 224, 0.7)
  );
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
}

h6 {
  font-weight: normal;
}

li {
  display: inline-flex;
  width: 18rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 2rem;
  border-radius: 5px;
  background-color: white;
}


.card-title {
  font-size: 2rem;
}
